# Environment
/.env
/.env.*
!/.env.example

# Artifacts
/android/
/ios/
/dist/
/coverage/
/db-data/
/node_modules/
expo-env.d.ts

# Cache and ?ogs
/.expo/
/npm-debug.*
/*.tsbuildinfo
.DS_Store
Thumbs.db
